@use '@angular/material' as mat;

$my-palette: mat.$indigo-palette;

.menuButton {
    position: absolute;
    color: #ccc;
    left: 0.5em;
    top: 0.5em;
}

.buttonDark {
    color: #000;
}

.buttonLight {
    color: #ccc;
}